.App {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  /* left: 50%; */
  top: 380px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 550px;
  width: 1000px;
  height: 600px;
  text-align: center;
}

#background-img {
  text-align: left;
  width: 1100px;
  position: absolute;
}

.storage {
  border: none;
  background-color: transparent;
  position: absolute;
  display: block;
}

.ingredient {
  border: none;
  background-color: transparent;
  position: absolute;
  display: block;
}

.inventory {
  border: 1px solid black;
  background-color: white;
  height: 80px;
  width: 80px;
}

.inventory-container {
  display: flex;
  position: absolute;
  top: 629px;
  left: 1px;
}

.cooking-inventory-container {
  display: flex;
  position: absolute;
  top: 670px;
  left: 10px;
}

.cauldron {
  left: 618px;
  top: 273px;
  position: absolute;
  -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
}

#cauldron-img {
  width: 185px;
}

.cauldron-cook {
  width: 400px;
  height: 200px;
  border-radius: 1000;
  border: 1px solid black;
  background-color: white;
  position: absolute;
  top: 10px;
  height: 760px;
  width: 1080px;
  left: 10px;
  z-index: 1000;
}

.inspector {
  border: 1px solid black;
  z-index: 100;
  padding: 40px;
  display: none;
  background-color: rgba(255, 255, 255, 0.8);
  border: white 5px solid;
  border-radius: 8px;
}

.inspector button {
  width: 200px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}

.inspector-img {
  height: 350px;
}

#recipe {
  z-index: 1000;
  width: 800px;
  background: white;
}

.recipe-container {
  text-align: center;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: white 5px solid;
  padding: 20px;
  border-radius: 8px;
  position: absolute;
  width: 1000px;
  height: 90vh;
  left: 25px;
  z-index: 100;
}

button {
  margin: 10px;
}

#cook-inventory {
  margin: 0px;
  padding: 0px;
}

.character {
  position: absolute;
  width: 150px;
  top: 120px;
  left: 320px;
  z-index: 10;
}

.narrative {
  position: absolute;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  border: white 5px solid;
  padding: 20px;
  border-radius: 8px;
  bottom: 100px;
  text-align: center;
  width: 1000px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  left: 550px;
  font-size: 18px;
}

.narrative button {
  width: 200px;
  height: 50px;
  font-size: 16px;
  cursor: pointer;
}

.overlay {
  width: 1100px;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99;
  position: absolute;
  height: 782.217px;
}

.inventory-item {
  width: 79px;
  height: 79px;
}

.img-container {
  display: flex;
  position: absolute;
}
