.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ingredient {
  border: 1px solid black;
}

.inventory {
  border: 1px solid black;
  height: 80px;
  width: 80px;
}

.inventory-container {
  display: flex;
  position: absolute;
  top: 80vh;
  left: 20vw;
}

.cauldron {
  /* width: 100px;
  height: 200px; */
  /* border: 1px solid black; */
  right: 20vw;
  top: 70vh;
  position: absolute;
}

.lightup {
  background-color: lime;
}

.cauldron-cook {
  width: 400px;
  height: 200px;
  border-radius: 1000;
  border: 1px solid black;
  background-color: lime;
}

.inspector {
  border: 1px solid black;
  z-index: 100;
  position: absolute;
  background-color: white;
  top: 20vh;
  left: 40vw;
}
